@keyframes fade-out {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }

@keyframes hidden-with-opacity {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0;
    display: none; } }

body {
  --white-color: #fff;
  --dark-primary-color: #092258;
  --primary-color: #F0B23A;
  --secondary-color: #0A5FC5;
  --scrollbar-color: rgba(0, 0, 0, 0.15);
  --body-background-color: #ffffff;
  --body-background-color: #fafafa;
  --text-color: #495057;
  --green-color: #4b9863;
  --red-color: #c8473b;
  --orange-color: #F16E46; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 1.6em;
  background-color: var(--body-background-color); }

::-webkit-scrollbar-thumb {
  border: 0.4em solid transparent;
  background-clip: padding-box;
  border-radius: 100rem;
  background-color: var(--scrollbar-color); }

body.scrollbar-hidden::-webkit-scrollbar {
  display: none; }

*:focus-visible {
  outline: none;
  border-color: var(--primary-color) !important; }

html,
body {
  overflow-x: hidden;
  --font-family: 'Circular', sans-serif;
  --max-width: 130rem;
  --font-size: 62.5%;
  --navbar-height: 9.5rem;
  --transition: all 0.3s ease; }

html {
  font-size: var(--font-size);
  scroll-behavior: smooth; }

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--body-background-color); }

a {
  font-size: 1.6rem;
  cursor: pointer;
  color: #0a5fc5;
  transition: color .2s ease-in;
  text-decoration: none; }
  a:hover {
    color: var(--primary-color) !important; }

h1 {
  font-size: 4rem;
  margin-top: 2.8rem;
  margin-bottom: 2rem; }

p {
  text-align: justify;
  font-size: 1.6rem;
  line-height: 1.7;
  padding-bottom: 1.3rem; }

span {
  font-size: 1.6rem; }

ul {
  font-size: 1.6rem;
  list-style-type: square;
  margin-left: 3rem; }

li {
  font-size: 1.5rem;
  line-height: 1.7; }

img {
  width: 100%;
  height: auto;
  display: block; }

button {
  font-family: var(--font-family); }

.hidden {
  display: none !important; }

.hidden-with-opacity {
  animation: hidden-with-opacity .3s normal forwards ease-in-out; }

.max-width {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2.2rem; }
  @media screen and (min-width: 768px) {
    .max-width {
      padding: 0 3rem; } }
  @media screen and (min-width: 1024px) {
    .max-width {
      padding: 0 4rem; } }
  @media screen and (min-width: 1200px) {
    .max-width {
      padding: 0 4.5rem; } }

.section-container {
  background: var(--white-color);
  border-radius: 1.5rem;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.05);
  padding: 2rem 4rem;
  margin: 4rem 0; }

@font-face {
  font-family: 'Circular';
  src: url("CircularStd-MediumItalic.eot");
  src: local("Circular Std Medium Italic"), local("CircularStd-MediumItalic"), url("../assets/fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CircularStd-MediumItalic.woff2") format("woff2"), url("../assets/fonts/CircularStd-MediumItalic.woff") format("woff"), url("../assets/fonts/CircularStd-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Circular';
  src: url("CircularStd-Black.eot");
  src: local("Circular Std Black"), local("CircularStd-Black"), url("../assets/fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CircularStd-Black.woff2") format("woff2"), url("../assets/fonts/CircularStd-Black.woff") format("woff"), url("../assets/fonts/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Circular';
  src: url("CircularStd-Medium.eot");
  src: local("Circular Std Medium"), local("CircularStd-Medium"), url("../assets/fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CircularStd-Medium.woff2") format("woff2"), url("../assets/fonts/CircularStd-Medium.woff") format("woff"), url("../assets/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Circular';
  src: url("CircularStd-Bold.eot");
  src: local("Circular Std Bold"), local("CircularStd-Bold"), url("../assets/fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CircularStd-Bold.woff2") format("woff2"), url("../assets/fonts/CircularStd-Bold.woff") format("woff"), url("../assets/fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Circular';
  src: url("CircularStd-BlackItalic.eot");
  src: local("Circular Std Black Italic"), local("CircularStd-BlackItalic"), url("../assets/fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CircularStd-BlackItalic.woff2") format("woff2"), url("../assets/fonts/CircularStd-BlackItalic.woff") format("woff"), url("../assets/fonts/CircularStd-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Circular Std Book';
  src: url("CircularStd-BookItalic.eot");
  src: local("Circular Std Book Italic"), local("CircularStd-BookItalic"), url("../assets/fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CircularStd-BookItalic.woff2") format("woff2"), url("../assets/fonts/CircularStd-BookItalic.woff") format("woff"), url("../assets/fonts/CircularStd-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Circular';
  src: url("CircularStd-BoldItalic.eot");
  src: local("Circular Std Bold Italic"), local("CircularStd-BoldItalic"), url("../assets/fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CircularStd-BoldItalic.woff2") format("woff2"), url("../assets/fonts/CircularStd-BoldItalic.woff") format("woff"), url("../assets/fonts/CircularStd-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Circular Std Book';
  src: url("CircularStd-Book.eot");
  src: local("Circular Std Book"), local("CircularStd-Book"), url("../assets/fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CircularStd-Book.woff2") format("woff2"), url("../assets/fonts/CircularStd-Book.woff") format("woff"), url("../assets/fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.page-content {
  position: relative;
  padding-bottom: 2.1rem; }
  .page-content > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }
  .page-content::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: calc(100% + 3.4rem);
    top: -3.4rem;
    left: calc(50% - 50vw);
    background-color: var(--white-color); }
  @media screen and (min-width: 1024px) {
    .page-content {
      min-width: 0;
      width: 100%;
      word-wrap: break-word;
      background-color: var(--white-color);
      background-clip: border-box;
      padding: 4rem 3rem;
      box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.05) !important;
      margin-top: -13rem;
      padding: 8rem;
      border-radius: 1rem;
      margin-bottom: 8rem; }
      .page-content::before {
        content: none; } }
  .page-content h2 {
    font-size: 2rem;
    margin: 4rem 0 1rem; }
